*, *::before, *::after {
  box-sizing: border-box; }

html, body, .start, .projects, .info {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: black; }

main div {
  width: 100%; }
main:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: url("../images/table3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.text, .text-light {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }

.text-light {
  color: white; }

.arrows {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  .arrows a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    .arrows a * {
      margin: 10px; }
  .arrows img {
    width: 80px;
    background-color: white;
    border-radius: 18%;
    box-shadow: 0 0 6px white; }
    @media screen and (max-width: 1199px) {
      .arrows img {
        width: 80px; } }
    @media screen and (max-width: 899px) {
      .arrows img {
        width: 40px; } }
    @media screen and (max-width: 599px) {
      .arrows img {
        width: 40px; } }
    .arrows img:hover {
      box-shadow: none; }

.start {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end; }

.avatar #photo {
  border-radius: 50%;
  display: block;
  max-width: 300px;
  margin: 0 auto;
  width: 260px; }
  @media screen and (max-width: 1199px) {
    .avatar #photo {
      width: 260px; } }
  @media screen and (max-width: 899px) {
    .avatar #photo {
      width: 130px; } }
  @media screen and (max-width: 599px) {
    .avatar #photo {
      width: 130px; } }
.avatar #name {
  display: block;
  text-align: center;
  margin: 20px; }

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end; }
  .projects:after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url("../images/table2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }

.gallery {
  align-self: flex-start; }
  .gallery img {
    width: 260px;
    border: 3px ridge white;
    margin: 10px;
    filter: grayscale(100%);
    transition: filter .2s linear; }
    @media screen and (max-width: 1199px) {
      .gallery img {
        width: 260px; } }
    @media screen and (max-width: 899px) {
      .gallery img {
        width: 130px; } }
    @media screen and (max-width: 599px) {
      .gallery img {
        width: 130px; } }
    .gallery img:hover {
      filter: grayscale(0%); }

.info {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end; }
  .info div {
    justify-content: flex-end; }

.about {
  align-self: flex-start;
  background-color: rgba(255, 250, 230, 0.77);
  margin: 10px;
  font-size: 16px; }
  @media screen and (max-width: 1199px) {
    .about {
      font-size: 16px; } }
  @media screen and (max-width: 899px) {
    .about {
      font-size: 12px; } }
  @media screen and (max-width: 599px) {
    .about {
      font-size: 12px; } }
  .about * {
    margin: 14px; }
  .about ul {
    list-style-type: "\2794"; }
  .about li {
    padding-left: 10px; }

footer {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  footer img {
    width: 50px;
    padding: 0 4px; }

/*# sourceMappingURL=style.css.map */
