@import url("grid.css");

@keyframes apparition {
  from{opacity: 0;}
  to{opacity: 1}
}

*, *:before, *:after {
 box-sizing: border-box;
}
html, body {
  height: 100%;
}
html {
  background: url(images/strawberry.jpg);
  background-repeat: repeat;
  font-family: "Palatino Linotype", Palatino, serif;
}
.area {
  margin: 0 auto;
  height: 100%;
  display: table;
}
header {
  background-color: #271;
}
header:before, header:after, main:before, main:after {
  content: " ";
  display: table;
}
header:after, main:after {
  clear: both;
  height: 10px;
}
.header_menu {
  left: 100px;
  list-style-type: none;
}
.header_image {
  width: 70px;
  left: 50px;
}
@media (max-width: 767px) {
  .header_image {
    top: 35px;
  }
}
.menu_button {
  text-align: center;
  border: 4px ridge #5c5;
  margin-left: 3px;
  margin-bottom: 3px;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(55,159,33,0.9918190560689787) 35%, rgba(63,176,199,1) 100%);
  transition: 1s;
}
.menu_button:hover {
  cursor: pointer;
  background: linear-gradient(180deg, rgba(81,79,119,1) 0%, rgba(55,159,33,0.9918190560689787) 35%, rgba(63,176,199,1) 100%);
}
h1 {
  margin-left: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: #aa3;
}
main {
  height: 100%;
  display: table-row;
}
.main_page {
  background-color: #ffd;
  padding: 15px;
}
.main_page_img {
  width: 100px;
}
.main_page_img_l {
  width: 200px;
}
.main_menu {
  word-wrap: break-word;
  background-color: #f74;
}
figure {
  opacity: 0;
  animation: apparition 5s forwards;
}
blockquote p::before {
    content: '\201C';
}
blockquote p::after {
    content: '\201D';
}
.sub_menu {
  list-style: square;
}
.sub_menu > li:hover {
  cursor: pointer;
  color: white;
}
.selection:hover {
  text-decoration: underline;
}
table {
  border-spacing: 4px;
}
td {
  border: 1px solid black;
  padding: 2px;
}
#author {
  font-weight: bold;
}
#publisher {
  font-size: smaller;
}
#submit_button {
  display: inline-block !important;
  text-decoration: none !important;
  background-color: #cfcea9 !important;
  color: #32361a !important;
  border: 2px solid #5b604d !important;
  border-radius: 4px !important;
  font-size: 15px !important;
  padding: 5px 32px !important; 
  transition: all 0.2s ease !important;
}
#submit_button:hover {
  text-decoration: none !important; 
  background-color: #88cb84 !important;
  color: #ffeded !important;
  border-color: #5e6f38 !important;
  cursor: pointer;
}
footer {
  width: 100%;
  background-color: #553;
  position: absolute;
  font-size: 0.8rem;
}
.footer_button {
  display: inline-block;
}
.footer_button:hover {
  color: white;
}
#receipt {
  width: 400px;
  height: 300px;
}
#up {
  display: block;
  text-align: right;
}
a {
  text-decoration: none;
  color: black;
  display: block;
}
p {
  font-family: "Times New Roman", Times, serif;
}