html, body, .body-wrap {
	height: 100%;
	padding: 0;
	margin: 0 auto;
}
body {
	background-color: #040440;
}
a, button {
	text-decoration: none;
	color: white;
}
button {
	border: none;
	background-color: #c93555;
}
button:hover {
	cursor: pointer;
}
.body-wrap {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	color: white;
	font-family: sans-serif;
}
.body-wrap:before {
	content: "";
	background-color: #130b5b;
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -6;
}
.body-wrap > div {
	display: grid;
}
.header {
	height: 5vw;
	background-color: #040440;
	grid-template-columns: 50.8vw 31.3vw 13.4vw;
}
.main {
	grid-template-columns: 18.4vw 31.4vw 42.4vw;
	grid-auto-rows: minmax(min-content, max-content);
}
.footer {
	height: 8vw;
	background-color: #080742;
	grid-template-columns: 32.7vw 19.4vw 21.4vw 9.2vw;
}
.header__title {
	line-height: 1vw;
	letter-spacing: 0.04vw;
	padding-left: 5.4vw;
	font-size: 0.87vw
}
.header__menu {
	display: flex;
	flex-flow: row nowrap;
}
.header__menu a {
	line-height: 4vw;
	letter-spacing: 0.03vw;
	font-size: 1.2vw;
	margin-right: 4.5vw;
}
.header__button {
	margin: auto 0;
}
.header__button button {
	width: 100%;
	height: 3.6vw;
	border-radius: 38px;
	font-size: 1.2vw;
	letter-spacing: 0.04vw;
}
.main__area1 {
	background: no-repeat url("практика/фон.png");
	background-position: top -89px right 0px;
	position: absolute;
	width: 100%;
	height: 90%;
	z-index: -3;
}
.main__area2 {
	grid-column: 1/5;
	grid-row: 4/5;
	background-color: #040440;
	z-index: -2;
}
.main__area3 {
	grid-column: 1/5;
	grid-row: 5/7;
	background-color: #130b5b;
	z-index: -1;
}
.area1__header {
	grid-column: 2/3;
	grid-row: 1/2;
}
.area1__header h6 {
	display: inline-block;
	border-top: 0.45vw solid #c93555;
	color: #c93555;
	font-size: 1.1vw;
	padding-top: 0.5vw;
	margin: 9.2vw 0 0 0.1vw;
}
.area1__header h1 {
	font-size: 2.6vw;
	line-height: 3.19vw;
	letter-spacing: 0.03vw;
	margin: 2.3vw 0 0 0;
}
.area1__header span {
	display: inline-block;
	font-size: 1.19vw;
	margin: 2.1vw 0 0 0.3vw;
}
.area1__button {
	grid-column: 2/3;
	grid-row: 2/3;
}
.area1__button button {
	width: 13.3vw;
	height: 3.7vw;
	border-radius: 34px;
	font-size: 1.22vw;
	margin-top: 4.5vw;
	padding: 0 0.2vw 0.7vw 0;
}
.area1__info {
	grid-column: 2/4;
	grid-row: 3/4;
}
.area1__info div {
	display: inline-block;
	line-height: 1.67vw;
	margin: 2.5vw 4.2vw 8.1vw 0;
	font-size: 0.8vw;
}
.area1__info div b {
	font-size: 1.2vw;
}
.area2__image {
	grid-column: 2/3;
	grid-row: 4/5;
}
.area2__image img {
	width: 24.9vw;
	margin: 5.3vw 0 8vw 2.2vw;
}
.area2__article {
	grid-column: 3/4;
	grid-row: 4/5;
}
.area2__article h2 {
	border-left: 0.45vw solid #c93555;
	font-size: 1.6vw;
	letter-spacing: -0.08vw;
	margin-top: 4.7vw;
	padding: 0 0 1.2vw 0.6vw;
}
.area2__article p {
	font-size: 1.58vw;
	line-height: 1.9vw;
	letter-spacing: -0.1vw;
	margin: 0;
	padding-left: 1vw;
}
.area2__article p:nth-child(2) {
	padding-top: 0.4vw;
}
.area2__article p:nth-child(3) {
	padding-top: 1.7vw;
}
.area3__about {
	grid-column: 2/4;
	grid-row: 5/6;
}
.area3__about h2 {
	border-left: 0.45vw solid #c93555;
	font-size: 1.6vw;
	letter-spacing: -0.04vw;
	margin: 3.6vw 0 0 0;
	padding: 0 0 1.2vw 0.17vw;
}
.area3__about p {
	font-size: 1.58vw;
	line-height: 1.9vw;
	letter-spacing: 0.01vw;
	margin-top: 1.7vw;
	padding-left: 0.1vw;
}
.area3__diploma {
	grid-column: 2/3;
	grid-row: 6/7;
}
.area3__diploma h2 {
	border-left: 0.45vw solid #c93555;
	font-size: 1.6vw;
	letter-spacing: -0.1vw;
	margin: 0.4vw 0 0 0;
	padding: 0.5vw 0 0.8vw 0.17vw;
}
.area3__diploma p {
	font-size: 1.58vw;
	line-height: 1.9vw;
	letter-spacing: -0.17vw;
	margin: 0.7vw 0 12.6vw 0;
	padding-left: 0.1vw;
}
.area3__button {
	grid-column: 3/4;
	grid-row: 6/7;
}
.area3__button button {
	margin: 1vw 12vw 0 2.4vw;
	padding: 1.7vw 0 2.5vw 0;
	font-size: 1.6vw;
	font-weight: bold;
	line-height: 1.9vw;
	border-radius: 29px;
}
.footer > div {
	margin: auto;
}
.footer__social {
	padding: 0 0 0 12.3vw;
}
.footer__social a {
	display: inline-block;
	width: 1.9vw;
	height: 1.9vw;
	margin: 0.4vw;
	background-color: #c93555;
	border-radius: 5px;
}
.footer__social a:before {
	font-family: 'Font Awesome 5 Brands';
	position: absolute;
	font-size: 1.2vw;
	padding: 0.2vw; 
}
.footer__social a:nth-child(1):before {
	content: '\f39e';
}
.footer__social a:nth-child(2):before {
	content: '\f189';
}
.footer__social a:nth-child(3):before {
	content: '\f167';
}
.footer__address {
	font-size: 1.2vw;
	line-height: 1.47vw;
	letter-spacing: -0.02vw;
}
.footer__mail {
	font-size: 1.2vw;
	line-height: 1.47vw;
	letter-spacing: -0.05vw;s
}
.footer__phone {
	font-size: 1.25vw;
	line-height: 1.47vw;
	letter-spacing: -0.02vw;
}
@font-face {

    font-family: 'Font Awesome 5 Brands';

    font-style: normal;

    font-weight: normal;

    src: url('практика/fa-brands-400.ttf') format('truetype');

}