@mixin bg($ref) {
	background-image:url($ref);
	background-size:cover;
	background-position:center;
}

@mixin flex($disp:flex, $flow:row nowrap, $just:center, $align:center) {
	display:$disp;
	flex-flow:$flow;
	justify-content: $just;
	align-items: $align;
}

@mixin adapt_w($width, $w_lg, $w_md, $w_sm) {
	width:$width;

	@media screen and (max-width: 1199px) {
		width:$w_lg;
    }

    @media screen and (max-width: 899px) {
    	width:$w_md;
    }

    @media screen and (max-width: 599px) {
    	width:$w_sm;
    }
}

@mixin adapt_f($font:16px, $f_lg:16px, $f_md:12px, $f_sm:12px) {
	font-size: $font;

	@media screen and (max-width: 1199px) {
		font-size:$f_lg;
    }

    @media screen and (max-width: 899px) {
    	font-size:$f_md;
    }

    @media screen and (max-width: 599px) {
    	font-size:$f_sm;
    }
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body, .wrapper {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

a {
	text-decoration: none;
	color:black;
}

.text {
	font-family: Arial-black, sans-serif;
}

.text-light {
	@extend .text;
	color:white;
}

.wrapper {
	@include bg("../images/table3.jpg");

	@include flex(flex, row wrap, center, center);
}

.avatar {
	@include adapt_w(400px, 400px, 300px, 300px);

	#photo {
		border-radius:50%;
		display:block;
		width:50%;
		max-width: 300px;
		margin: 0 auto;
		padding: 0 0 0 0;
	}

	#name {
		display:block;
		text-align: center;
	}
}

footer {
	width:100%;
	height:100px;
	background-color:black;

	@include flex();
}