* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-width: 460px;
	min-height: 800px;
	font-size: 12px;
	font-family: Times, serif;
}
body {
	background: rgb(15,230,164);
	background: linear-gradient(180deg, rgba(15,230,164,0.4) 38%, rgba(27,143,116,0.4) 81%, rgba(11,93,89,0.4) 100%);
}
a {
	text-decoration: none;
	color: black;
}
.wrapper {
	background: repeat-x url("../images/tools.png");
	width: 100%;
	height: 100%;
	display:flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;

	.info {
		width: 360px;
		height: 500px;
		background-color: white;
		border-radius: 20px;


		> .img1 {
			width: 200px;
			left: -40px;
			position:relative;
			display:inline-block;
		}

		> .img2 {
			width: 200px;
			left: 160px;
			top: 100px;
			position:relative;
			display:inline-block;
		}

		.group1 {
			width: 200px;
			left: 160px;
			top: -360px;
			position:relative;
		}

		.wheel {
			width: 100px;
			border-radius: 50px;
			display:block;
			margin: 0 auto;
			margin-bottom: 4px;
		}

		.name {
			display:block;
			text-align: center;
			margin-bottom: 4px;
		}

		.lang {
			display: block;
			text-align: center;
		}

		.group2 {
			width: 200px;
			top: -300px;
			position: relative;

		}

		ul {
			margin: 0;

			li {
				margin-bottom: 4px;
			}
		}
	}

	.carousel-wrapper {
		position:relative;

		.carousel-item {
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			padding:25px 50px;
			opacity: 0;
			transition:all 0.5 ease-in-out;

			.arrow {
				position: absolute;
				top: 0;
				display: block;
				width: 50px;
				height: 100%;
				-webkit-tap-highlight-color:rgba(0,0,0,0);

				&.arrow-prev {
					left:0;
					background:url("../images/arrow_l.png")50%50%/20px no-repeat;
				}

				&.arrow-next {
					right:0;
					background:url("../images/arrow_r.png")50%50%/20px no-repeat;
				}
			}

			.projects {
				position: absolute;
				display: block;
				top: 0;
				width: 200px;
				height: 100%;
				text-align: center;

				img {
					margin-bottom: 8px;
				}

			}

			@media(max-width:480px) {
				.arrow {
					background-size:10px;
					background-position:10px 50%;
				}
			}
		}

		[id^="target-item"] {
			display:none;
		}

		.item-1 {
			z-index: 2;
			opacity: 1;
		}

		*:target~.item-1 {
			opacity: 0;
		}

		#target-item-1:target~.item-1 {
			opacity: 1;
		}

		#target-item-2:target~.item-2,#target-item-3:target~.item-3 {
			z-index: 3;
			opacity: 1;
		}

	}
	
	.footer {
		a {
			margin-right: 4px;
		}

		.hh {
			width:30px;
		}

		.tg {
			width:30px;
		}

		.vk {
			width:30px;
		}
	}
}