@mixin bg($ref) {
	background-image:url($ref);
	background-size:cover;
	background-position:center center;
	background-attachment:scroll;
	max-width: 100%;
}

@mixin flex($disp:flex, $flow:row nowrap, $just:center, $align:center) {
	display:$disp;
	flex-flow:$flow;
	justify-content: $just;
	align-items: $align;
}

@mixin adapt_w($width, $w_lg, $w_md, $w_sm) {
	width:$width;

	@media screen and (max-width: 1199px) {
		width:$w_lg;
    }

    @media screen and (max-width: 899px) {
    	width:$w_md;
    }

    @media screen and (max-width: 599px) {
    	width:$w_sm;
    }
}

@mixin adapt_f($font:16px, $f_lg:16px, $f_md:12px, $f_sm:12px) {
	font-size: $font;

	@media screen and (max-width: 1199px) {
		font-size:$f_lg;
    }

    @media screen and (max-width: 899px) {
    	font-size:$f_md;
    }

    @media screen and (max-width: 599px) {
    	font-size:$f_sm;
    }
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body, .start, .projects, .info {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

a {
	text-decoration: none;
	color:black;
}

main {
	div {
		//align-self:flex-end;
		width:100%;
	}

	@include bg("../images/table3.jpg");
}

.text {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.text-light {
	@extend .text;
	color:white;
}

.arrows {
	@include flex(flex, row nowrap, space-between, center);

	a {
		@include flex();

		* {
			margin:10px;
		}
	}

	img {
		@include adapt_w(80px, 80px, 40px, 40px);
		background-color:white;
		border-radius:18%;
		box-shadow: 0 0 6px white;

		&:hover {
			box-shadow: none;
		}
	}
}
//Start page//
.start {
	@include flex(flex, row wrap, space-between, flex-end);

}

.avatar {
	#photo {
		border-radius:50%;
		display:block;
		max-width: 300px;
		margin: 0 auto;

		@include adapt_w(260px, 260px, 130px, 130px);
	}

	#name {
		display:block;
		text-align: center;
		margin:20px;
	}
}
////
//Projects page//
.projects {
	@include bg("../images/table2.jpg");

	@include flex(flex, row wrap, flex-start, flex-end);
}

.gallery {
	align-self:flex-start;

	img {
		@include adapt_w(260px, 260px, 130px, 130px);
		border:3px ridge white;
		margin:10px;
		filter: grayscale(100%);
		transition:filter .2s linear;

		&:hover {
			filter: grayscale(0%);
		}
	}
}
////
//Info page//
.info {
	@include flex(flex, row wrap, flex-end, flex-end);

	div {
		justify-content: flex-end;
	}
}

.about {
	align-self:flex-start;
	background-color:rgba(255, 250, 230, .77);
	margin:10px;

	@include adapt_f();

	* {
		margin:14px;
	}

	ul {
		list-style-type:"\2794"; 
	}

	li {
		padding-left:10px;
	}

}
////
footer {
	width:100%;
	height:80px;
	background-color:black;

	@include flex();

	img {
		width:50px;
		padding:0 4px;
	}
}