@import url("fonts.css"); 

html, body {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	min-width: 590px;
}
a {
	color: inherit;
}
a:hover, #search-link span:hover {
	color: #eb477b;
	text-decoration: none;
	cursor: url('img/cursor-154478_6400.cur'), auto;
}
.container-fluid {
	padding: 0;
}
.header {
	position: relative;
	height: 100px;
	background-color: #008daa;
	z-index: 2;
}
.main {
	height: 6204px;
}
.footer {
	height: 176px;
	background-color: #005c7d;
}
.wrapper {
	width: 1200px;
	height: 100%;
}
.main .section {
	height: 1080px;
}
.main .section:nth-child(1) {
	height: 980px;
}
.main .section:nth-child(6) {
	height: 904px;
}
.main .section:nth-child(odd) {
	background-color: #eeeeed;
}
.f-btn {
	font-size: 24px;
	text-decoration: underline;
	color: #d4d0c8;
}
.f-nav a {
	background-color: #008daa;
	border: none;
}
.f-nav a img:first-child, .s-net-bot a img:first-child {
	position: absolute;
	z-index: 0;
}
.f-nav a img:last-child, .s-net-bot a img:last-child {
	position: relative;
	z-index: 1;
	opacity: 0;
}
.f-nav a img:hover:last-child, .s-net-bot a img:hover:last-child {
	opacity: 1;
}
.f-link {
	color: #d4d0c8;
}
.f-link:hover {
	color: #eeeeed;
}
.nav-bar li {
	padding-top: 14px;
	margin-left: 28px;
	font-size: 20px;
	font-family: 'Roboto Regular';
	text-transform: uppercase;
	color: #06bac5;
}
.nav-bar li:first-child {
	list-style-type: none;
	padding-top: 15px;
	padding-left: 50px;
	white-space: nowrap;
}
h1 {
	margin-top: 84px;
	font-family: "Philosopher";
	font-size: 56px;
	text-align: right;
	line-height: 200%;
	color: #005c7d;
}
.quality {
	font-size: 24px;
	margin-top: 65px;
	margin-right: 12px;
	font-family: "Roboto Medium";
	color: #005c7d;
}
#sign-up-button {
	background-color: #005c7d; 
	color: #eeeeed;
	width: 320px;
	padding: 6px 0px;
	margin-top: 54px;
	margin-right: 12px;
	font-size: 30px;
	cursor: url('img/cursor-154478_6400.cur'), auto;
	box-shadow: none;
}
#sign-up-button:hover {
	background-color: #eb477b;
}
.diamonds-wrap {
	margin-top: -150px;
	height: 150px;
	width: 10px;
}
#diamonds {
	margin-left: -80px;
}
#about {
	font-family: "Philosopher Bold";
	font-size: 60px;
	color: #005c7d;
}
.description-wrap p {
	text-align: center;
	font-family: "Roboto Regular";
	font-size: 24px;
	line-height: 1.4;
	padding-bottom: 10px;
	color: #005c7d;
}
.description-wrap p:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.description-wrap p span {
	letter-spacing: 1px;
}
.sub-section {
	padding: 0 50px;
	color: #005c7d;
}
.sub-section h3 {
	font-family: "Philosopher";
}
.info {
	width: 300px;
	text-align: center;
	font-size: 18px;
	font-family: "Roboto Regular";
	color: #008daa;
}
#price {
	margin-top: 10px;
}
#advantages {
	font-family: "Philosopher Bold";
	font-size: 60px;
	color: #005c7d;
	text-align: center;
	padding-bottom: 30px;
	margin-top: -10px;
}
.advv-list {
	font-size: 30px;
	font-family: "Roboto Regular";
	line-height: 95px;
	list-style-type: none;
	color: #005c7d;
	white-space: nowrap;
}
.advv-list li:nth-child(3) {
	white-space: normal;
}
.advv-list li:before {
	font-family: "Font Awesome 5 Free";
	content: "\f058";
	padding: 0 40px 0 28px;
}
#adv-empty, #quest-empty, #feed-empty, #cont-empty {
	height: 10px;
}
.adv-wrap {
	height: 800px;
}
.question-header button:focus {
	text-decoration: none;
}
.question-header button:hover {
	text-decoration: none;
	color: #008daa;
}
.question-header button span:hover {
	border-bottom: 1px solid;
}
.question-header button:before {
	font-family: "Font Awesome 5 Free Solid";
	content: "\f0d7";
	margin-right: 10px;
}
.question-header button:not(.collapsed):before {
	font-family: "Font Awesome 5 Free Solid";
	content: "\f0d8";
	margin-right: 10px;
}
#questions, #search, #search-link {
	text-align: center;
}
#questions {
	font-family: "Philosopher Bold";
	font-size: 60px;
	color: #005c7d;
	text-align: center;
	padding-bottom: 20px;
	margin-top: -10px;
}
.question-header button {
	font-family: "Philosopher Bold";
	font-size: 24px;
	color: #008daa;
}
.answer-body {
	font-family: "Roboto Italic";
	font-size: 18px;
	color: #005c7d;
}
#search {
	font-family: "Philosopher Bold";
	font-size: 36px;
	color: #008daa;
}
#search-link span {
	font-family: "Philosopher Bold";
	font-size: 36px;
	color: #005c7d;
	border-bottom: 3px solid;
}
#search-link:hover {
	color: #eb477b;
}
.accordion {
	margin-left: 50px;
	padding-bottom: 24px;
}
.question {
	padding-bottom: 20px;
}
.quest-wrap {
	margin-top: 20px;
}
.d-block {
	text-align: justify;
	font-family: "Roboto Italic";
	font-size: 18px;
	line-height: 24px;
	color: #005c7d;
}
.carousel-control-prev:before {
	font-size: 36px;
	content: "\276e";
	color: #d4d0c8;
	position: absolute;
	padding-left: 4px;
}
.carousel-control-next:before {
	font-size: 36px;
	content: "\276f";
	color: #d4d0c8;
	position: absolute;
	padding-right: 4px;
}
.carousel-control-prev:after, .carousel-control-next:after {
	font-family: "Font Awesome 5 Free";
	font-size: 50px;
	content: "\f111";
	color: #d4d0c8;
	position: absolute;
}
.carousel-control-prev:after {
	padding-left: 8px;
}
.carousel-control-next:after {
	padding-right: 8px;
}
#voroncova {
	text-align: center;
	font-family: "Philosopher";
	font-size: 32px;
	line-height: 36px;
	color: #008daa;
}
#feedback {
	font-family: "Philosopher Bold";
	font-size: 60px;
	color: #005c7d;
	text-align: center;
}
.feed-wrap {
	height: 660px;
}
#contact-us {
	font-family: "Philosopher Bold";
	font-size: 60px;
	color: #005c7d;
	text-align: center;
}
.cont-wrap {
	height: 800px;
	font-size: 30px;
	font-weight: 500;
	color: #005c7d;
	text-align: center;
}
.s-net-bot a{
	border: none;
}
#main-site-link {
	color: #008daa;
	border-bottom: 3px solid;
	white-space: nowrap;
}
#main-site-link:hover {
	color: #eb477b;
}
#arrow {
	margin: 0 90px;
}
.footer .wrapper span {
	font-size: 24px;
	color: #eeeeed;
}
#politics span {
	font-size: 16px;
	text-decoration: underline;
}